.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-size: 5px;
}

#example {
    display: flex;
    justify-content: center;
}

.k-card-deck-scrollwrap {
    max-width: 1324px;
}

.k-card-deck {
    box-sizing: border-box;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px 16px 16px;
    overflow-y: hidden;
    overflow-x: auto;
}

#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

    #tabstrip h2 span {
        background: none;
        padding-left: 5px;
        font-size: .3em;
        vertical-align: top;
    }

#tabstrip p {
    margin: 0;
    padding: 0;
}



.k-card {
    width: 285px;
    margin: 5%;
}

.k-card-footer {
    text-align: center;
}

