/*global varaibles*/

:root {
    --color-green: #01d099;
    --color-red: #f64e60;
    --color-yellow: #ffa800;
    /* logos*/
    --flags-size: 16px;
    --teams-logo-size: 16px;
    --teams-logo-modal-size: 90%;
    --teams-logo-block-modal-size: 85px;
    --teams-logo-block-radius-modal: 5px;
    --teams-logo-block-background-modal: var(--background-color-header);
    
    /* Only for team form and info button */
    --standings-team-form-font-size: 9px;
    --standings-team-form-line-height: 16px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.select-box {
    background-color: grey;
    border-radius: 20px;
    filter: drop-shadow(0px, 0px, 10px, rgba(0,0,0,0.3));
    margin: 0px;
}

.photo-badge {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    float: right;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-right: 5px;
}

.home-badge {
    float: left;
}

.away-badge {
    float: right;
}

.badge-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.wg_form_win {
    background: var(--color-green);
}

.wg_form_draw {
    background: var(--color-yellow);
}

.wg_form_lose {
    background: var(--color-red);
}

.wg_form {
    display: inline-block;
    margin: 1px;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 16px;
    font-size: 9px;
    position: relative;
    color: #fff;
}