<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PracticeApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PracticeApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!-- Privacy -->
                        <li class="nav-item">
                            <a class="nav-link dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <!--   Pre-alert -->
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pre-alert
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">Trader SKU's</a>
                                </li>
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Location" asp-action="Index">Warehouse traders</a>
                                </li>
                                <li>
                                    
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Index">Recieipt advice maintance</a>
                                </li>
                            </ul>
                        </li>
                        <!--  Receive Process -->
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Receive Process
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">WIP</a>
                                </li>
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Index">Receipt advice history</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Inventory -->
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventory
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a data-bs-toggle="modal" data-bs-target="#skuModal" class="nav-link dropdown-item" asp-area="">SKU Enquiry</a>
                                </li>
                                <li>

                                    <a data-bs-toggle="modal" data-bs-target="#locationModal" class="nav-link dropdown-item" asp-area="">Location Enquiry</a>
                               
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Item" asp-action="Index">Location adjustment</a>
                                </li>

                            </ul>
                        </li>
                        <!-- ill get round to the Dispatch process later -->
                        <li class="nav-item dropdown">
                          
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Despatch Process
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">WIP</a>
                                </li>
                                <li>
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Receipt" asp-action="Index">Receipt advice history</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                                </li>

                            </ul>
                        </li>
                    </ul>

                   
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PracticeApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- Modal for sku searching. Placed here to save a seprate view -->
<div class="modal fade" id="skuModal" tabindex="-1" aria-labelledby="skuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="skuModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">

                    <form method="post">
                        <label for="SKUCode">SKU code</label>
                        <input type="text" id="sku" name="sku" placeholder="Enter your SKU code" />
                        <input type="submit" asp-action="Index" asp-controller="Product" id="sku" name="sku" />
                    </form>
                  
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Modal for location searching. Placed here to save a seprate view -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationModalLabel">Location search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">

                    <form method="post">
                        <label for="LocationId">Location id</label>
                        <input type="text" id="id" name="id" placeholder="Enter the location id" />
                        <input class="btn btn-primary" type="submit" asp-action="Index" asp-controller="Location" id="id" name="id" />
                    </form>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
