@model IEnumerable<CountryModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container align-content-center">
    <h1>Countries</h1>
    <h4><i>Click on a flag to view the countries leagues</i></h4>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                @if (item.FlagURL != null)
                {
                    <form>
                        <input type="image" src="@item.FlagURL" class="card-img-top" alt="~/images/notFound.jpg"
                               asp-controller="League"
                               asp-action="Details"
                               asp-route-id="@item.Name">
                    </form>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                }
            </div>
        }
    </div>
</div>
