@model IEnumerable<PracticeApp.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Item page</h1>

<div class="container">
    <div class="row">
     
        @await Html.PartialAsync("~/Views/Shared/_ItemProductCard.cshtml", Model)
    </div>
</div>
