<div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
    <div class="k-w-300">
        <label for="customers">Customers:</label>
        @(Html.Kendo().AutoComplete()
            .Name("customers")
            .DataTextField("ContactName")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("Template_GetCustomers", "AutoComplete");
                });
            })
            .HtmlAttributes(new { style = "width:100%" })
            .Filter("startswith")
            .MinLength(1)
            .Height(400)
            .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
            "<span>Photo</span>" +
            "<span>Contact info</span>" +
            "</div>")
            .FooterTemplate("Total <strong>#: instance.dataSource.total() #</strong> items found")
            .Template("<span class=\"k-state-default\"></span>" +
            "<span class=\"k-state-default\"><h3>#: data.Name #</h3><p>#: data.CountryCode #</p></span>")
            )
        <p class="demo-hint">
            Start typing to find a customer. E.g. "Ann"
        </p>
    </div>
</div>



<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 50px;
            }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }
</style>

<script id="TemplateCountry" type="text/x-kendo-template">

    <div class="container">
        <div class="image">
            <img src="#:data.FlagURL#">
        </div>
        <span style="margin-left: 5px">#:data.Name#</span>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <img src="@Url.Content("~/shared/web/foods/")#:ProductID#.jpg" alt="#:ProductName# image" />
        <h3>#:ProductName#</h3>
        <p>#:kendo.toString(UnitPrice, "c")#</p>
    </div>
</script>


