@model SoccerStatsData.RequestModels.PredictionRequestFiles.Team

<div class="product-name">
    <div class="photo-badge home-badge">
        <img src="@Model.Logo" class="rounded">
    </div>
    <span>@Model.Name</span>
</div>
