@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

@if (Model.Teams.Home != null && Model.Teams.Away != null)
{
  <h6>predictions tab @Model.Teams.Home.Name vs @Model.Teams.Away.Name</h6>
}
