@model SoccerStatsData.RequestModels.PredictionRequestFiles.Teams


@if (Model.Home != null && Model.Away != null)
{
    <partial name="_IndividualTeam" model="@Model.Home" />
    <span><b>vs</b></span>
    <partial name="_IndividualTeam" model="@Model.Away" />

}