@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse


@if (Model.Teams.Home != null && Model.Teams.Away != null)
{
    <div class="badge-name">
        <img src="@Model.Teams.Home.Logo" class="rounded photo-badge home-badge">
        <span>@Model.Teams.Home.Name</span>
    </div>
    <span><b>vs</b></span>
    <div class="badge-name">

        <img src="@Model.Teams.Away.Logo" class="rounded photo-badge away-badge">
        <span>@Model.Teams.Away.Name</span>
      
    </div>

}