@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

<div class="container">

    @if (Model.Teams.Home != null && Model.Teams.Away != null)
    {
        
        <div class="image">
            
            <img src="@Model.Teams.Home.Logo">
            <span style="margin-left: 5px"><i>home</i> <b>@Model.Teams.Home.Name</b> </span>
        </div>

        <div class="image">
            <img src="@Model.Teams.Away.Logo">
            <span style="margin-left: 5px"> <i>away</i> <b>@Model.Teams.Away.Name</b></span>
        </div>
       
    }
</div>