@model SoccerStatsData.RequestModels.PredictionRequestFiles.PredictionResponse

<div class="container">

    @if (Model.Teams.Home != null && Model.Teams.Away != null)
    {
        
        
       
    }
</div>