@page
@model RazorPizza.Pages.PizzaModel
@{
}

<h1>Pizza!</h1>

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">Custom Pizza</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>
