@model SoccerStatsNew.Models.LeagueData

@{
    var LeagueModel = Model.Id;
}

@(Html.Kendo().ListView<SoccerStatsData.TeamResponse>()
            .Name("listView")
            .TagName("div")
            .ClientTemplateId("teams")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Teams_Read", "League", new { league = LeagueModel.LeagueId, year = Model.Year }))
            .PageSize(24)
        )
        .Pageable(pageable => pageable
        .Refresh(true)
        .ButtonCount(5)
        )
        )

<script type="text/x-kendo-tmpl" id="teams">
    <div class="team" data-id="#:Team.Name#">
        <img src="#:Team.Logo#" alt="#:Team.Name# image" />
        <h3>#:Team.Name#</h3>
        <p>Founded: #:Team.Founded#</p>
    </div>
</script>

@section styles {
    <link rel="stylesheet" href="~/css/league-details.css" />
}
