@model IEnumerable<SoccerStatsNew.Models.LeagueModel>
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>League and cup details</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-2 mb-5">

                <form>
                    <input type="image" src="@item.LogoURL" class="w-100"
                           asp-controller="Team"
                           asp-action="Index"
                           asp-route-id="@item.Id">
                </form>
                <p>@item.Name</p>
              
            </div>
        }
        
    </div>
</div>

