@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>League and cup details</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-2 mb-5 select-box">
                <img src="@item.League.LogoURL" class="w-100" asp-append-version="true" />
            </div>
        }
        
    </div>
</div>

