@model IEnumerable<SoccerStatsData.LeagueModel>

<h3>League details</h3>

@foreach (var item in Model)
{
    <partial name="_MensLeague" model="@item" />
}

@section scripts {
    <script src="~/js/leagues.js"> </script>
    <script src="~/js/teams.js"> </script>
}



