<tr>
    <td>
        <div class='pt-indicator' data-id='#:data.FixtureId#'>
            <span class="li-date">#:data.Date.toDateString()# </span>
        </div>
       
    </td>

    <td>
        <div class="container">
            <div class="photo-badge">
                <img src="#:data.LeagueLogo#" class="rounded">
            </div>
            <span class="product-name">#:data.League#</span>
        </div>
    </td>

    <td>
        <div class="container">
            <div class="photo-badge">
                <img src="#:data.HomeTeamLogo#">
            </div>
            
            <span class="product-name">#:data.HomeTeam#</span>
        </div>
    </td>

    <td>
        <div class="container">
            <div class="photo-badge">
                <img src="#:data.AwayTeamLogo#">
            </div>
            <span class="product-name">#:data.AwayTeam#</span>
        </div>
    </td>
</tr>

