<tr>
    <td>
        <div class='pt-indicator' data-id='#:data.FixtureId#'>
            <span class="li-date">#:data.Date.toDateString()# </span>
        </div>
       
    </td>

    <td>
        <div class="container">
            <div class="image">
                <img src="#:data.LeagueLogo#">
            </div>
            <span style="margin-left: 5px">#:data.League#</span>
        </div>
    </td>

    <td>
        <div class="container">
            <div class="image">
                <img src="#:data.HomeTeamLogo#">
            </div>
            <span style="margin-left: 5px">#:data.HomeTeam#</span>
        </div>
    </td>

    <td>
        <div class="container">
            <div class="image">
                <img src="#:data.AwayTeamLogo#">
            </div>
            <span style="margin-left: 5px">#:data.AwayTeam#</span>
        </div>
    </td>
</tr>