<tr>
    <td>
        <div class='pt-indicator' data-id='#:data.FixtureId#'>
            
            <span class="li-date">#= kendo.toString(kendo.parseDate(data.Date), 'dd/MM/yyyy') # </span>
        </div>
       
    </td>

    <td>
        <img src="#:data.LeagueLogo#" class="photo-badge">
        <span class="product-name">#:data.League#</span>
    </td>

    <td>
        <img src="#:data.HomeTeamLogo#" class="photo-badge">
        <span class="product-name">#:data.HomeTeam#</span>
    </td>

    <td>
        <img src="#:data.AwayTeamLogo#" class="photo-badge">
        <span class="product-name">#:data.AwayTeam#</span>
    </td>
</tr>

