<tr>

    <td>
        <div class='pt-indicator' data-id='#:data.Date.#'>
        </div>
    </td>

    <td>
        <div class='pt-indicator' data-id='#:data.League#'>
        </div>
    </td>

    <td>
        <div class='pt-indicator' data-id='#:data.HomeTeam#'>
        </div>
    </td>

    <td>
        <div class='pt-indicator' data-id='#:data.AwayTeam#'>
        </div>
    </td>
</tr>