<tr>
    <td>
        <span class="badge-name"><b>#:data.rank#</b></span>
    </td>
    <td>
        <img src="#:data.team.logo#" class="photo-badge home-badge">
        <span><b>#:data.team.name#</b></span>
    </td>
    <td>
        <span><b>#:data.all.played#</b></span>
    </td>
    <td>
        <span><b>#:data.all.win#</b></span>
    </td>
    <td>
        <span><b>#:data.all.draw#</b></span>
    </td>
    <td>
        <span><b>#:data.all.lose#</b></span>
    </td>
    <td>
        <span><b>#:data.all.goals.for#</b></span>
    </td>
    <td>
        <span><b>#:data.all.goals.against#</b></span>
    </td>
    <td>
        <span><b>#:data.goalsDiff#</b></span>
    </td>
    <td>
        <span><b>#:data.points#</b></span>
    </td>
    <td>
        <span><b>#:data.form#</b></span>
    </td>
</tr>



