<tr>
    <td>
        <img src="#:data.player.photo#" class="photo-badge home-badge">
        <span class="badge-name">#:data.player.firstname# #:data.player.lastname#</span>
    </td>

    <td>
        <span class="badge-name">#:data.player.birth.date#</span>
    </td>
    <td>
        <span class="badge-name">#:data.player.age#</span>
    </td>
    <td>
        <span class="badge-name">#:data.player.birth.place#</span>
    </td>

    <td>
        <span class="badge-name">#:data.player.nationality#</span>
    </td>


</tr>



