<tr>
    <td>
        <img src="#:data.Player.Photo#" class="player-photo">
    </td>
    <td>
        <span class="player-name">#:data.Player.Firstname# #:data.Player.Lastname#</span>
    </td>

    <td>
        <span class="player-name">#:data.Player.Birth.Date#</span>
    </td>

    <td>
        <span class="player-name">#:data.Player.Age#</span>
    </td>

    <td>
        <span class="player-name">#:data.Player.Birth.Place#</span>
    </td>

    <td>
        <span class="player-name">#:data.Player.Nationality#</span>
    </td>


</tr>



