@model SoccerStatsData.FixtureRoot

<h6>this is the fixtures page</h6>

@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Views/Shared/_FixtureGrid.cshtml"))
    {
        line = sr.ReadToEnd();
    }
}

@(
Html.Kendo().Grid(Model.Response)
    .Name("fixture_grid")
    .Columns(columns =>
                {
                    columns.Bound(p => p.League.Name)
                           .Title("Home Team")
                           .ClientTemplate("#:data.League#")
                           .Width(180);
                })
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable()
                .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .PageSize(20)
                            .ServerOperation(false))
                .Deferred(true))