@model IEnumerable<SoccerStatsNew.Models.FixturePageData>

@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Views/Shared/_grid.cshtml"))
    {
        line = sr.ReadToEnd();
    }
}

<h5>This is the fixture controller</h5>

@(Html.Kendo().Grid(Model)
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Date)
                           .Title("Fixture date")
                           .Width(70);

                    columns.Bound(p => p.League)
                           .Title("League")
                           .Width(70);

                    columns.Bound(p => p.HomeTeam)
                           .Title("Home Team")
                           .Width(70);

                    columns.Bound(p => p.AwayTeam)
                           .Title("Away Team")
                           .Width(70);

                })
                .ClientRowTemplate(@line)
                .BindTo(Model)
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable()
                .Events(events =>
                {
                    events.Change("OnGridSelect");
                }))

@section styles {
    <link rel="stylesheet" href="~/css/fixtures.css" />
}

@section scripts {
    <script src="~/js/fixtures.js"></script>
}

<style>
    

    .photo-badge {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-right: 5px;
    }

    .product-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
   
</style>
