@model SoccerStatsNew.Models.HomeDisplay

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-6">
    
    <kendo-combobox name="chooseCountry"
                    bind-to="Model.CountryList"
                    datatextfield="Name"
                    datavaluefield="CountryCode"
                    placeholder="Select country"
                    template-id="CountrySelectTemplate"
                    on-change="OnCountrySelect"
                    style="width:260px">

    </kendo-combobox>

</div>


<div>
    <div class="cards-container">
        @if (Model.LeagueList != null)
        {
            @if (Model.LeagueList.Count() > 0)
            {
                @await Html.PartialAsync("_RenderLeaguesPartial.cshtml", Model)
            }
        }
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}

@section scripts {
    <script src="~/js/leagues.js" ></script>
}

<script id="CountrySelectTemplate" type="text/x-kendo-template">
      <div class="row" style="margin-left: 5px">
         
        <img src="#:data.FlagURL#" class="li-avatar rounded mx-auto"/>
        <span style="margin-left: 5px">#:data.Name#</span>
    </div>
</script>
