@model IEnumerable<SoccerStatsData.CountryModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-6">
    @(Html.Kendo().DropDownList()
        .Name("SelectedAssigneeId")
        .BindTo(Model)
        )

</div>
