@model SoccerStatsNew.Models.HomeDisplay

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-6">
    
    <kendo-combobox name="chooseCountry"
                    bind-to="Model.CountryList"
                    datatextfield="Name"
                    datavaluefield="CountryCode"
                    placeholder="Select country"
                    template-id="CountrySelectTemplate"
                    on-change="OnCountrySelect"
                    style="width:260px">

    </kendo-combobox>

</div>


<div>
    <div class="cards-container">
        @if (Model.LeagueList != null)
        {
            @foreach (var item in Model.LeagueList)
            {

                <div class="k-card">
                    <div class="k-card-header">
                        <h5 class="k-card-title">@item.Name</h5>
                        <h6 class="k-card-subtitle">@item.CountryName</h6>
                        @(Html.Kendo().DropDownList()
                            .Name("seasons")
                            .BindTo(item.Seasons)
                            .Label(label => label.Content("Select a season"))
                            .DataTextField("Year")
                            .DataValueField("LeagueId")
                            .Deferred(true)
                            )
                    </div>
                    <img class="k-card-image" alt="Telerik UI for ASP.NET MVC Cards Rome" src="@item.LogoURL" />
                    
                    </div>
            }
        }
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}

@section scripts {
    <script src="~/js/leagues.js" ></script>
}

<script id="CountrySelectTemplate" type="text/x-kendo-template">
      <div class="row" style="margin-left: 5px">
         
        <img src="#:data.FlagURL#" class="li-avatar rounded mx-auto"/>
        <span style="margin-left: 5px">#:data.Name#</span>
    </div>
</script>
