@using UtilityLibraries;
<h6>welcome to the league table page</h6>

@model SoccerStatsData.RequestModels.LeagueTableRoot

@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Views/Shared/_LeagueTableGrid.cshtml"))
    {
        line = sr.ReadToEnd();
    }
}

@foreach (var leagueResponse in Model.Response)
{
    <span>@leagueResponse.League.Name :</span>
    <span>@leagueResponse.League.Season :</span>

    @foreach (var leagueStandings in leagueResponse.League.Standings)
    {
        @foreach (var item in leagueStandings)
        {
            item.FormChars = StringHelper.ToCharArray(item.Form);
        }
        @(Html.Kendo().Grid(leagueStandings)
                    .Name("table-grid")
                    .Columns(columns =>
                    {
                            columns.Bound(p => p.Rank)
                            .Title("Team")
                                   .Width(1);

                            columns.Bound(p => p.All.Played)
                            .Title("MP")
                            .Width(1);

                            columns.Bound(p => p.All.Win)
                            .Title("W")
                            .Width(1);

                            columns.Bound(p => p.All.Draw)
                            .Title("D")
                            .Width(1);

                            columns.Bound(p => p.All.Lose)
                            .Title("L")
                            .Width(1);


                            columns.Bound(p => p.All.Goals.For)
                            .Title("GF")
                            .Width(1);

                            columns.Bound(p => p.All.Goals.Against)
                            .Title("GA")
                            .Width(1);

                            columns.Bound(p => p.GoalsDiff)
                            .Title("+/-")
                            .Width(1);

                            columns.Bound(p => p.Points)
                            .Title("P")
                            .Width(1);

                            columns.Bound(p => p.Form)
                            .Title("Form")
                            .Width(1);
                           
                    })
                    .ClientRowTemplate(@line)
                    .DataSource(dataSource => dataSource
                                .Ajax()
                                .Batch(true)
                                .PageSize(24)
                                .ServerOperation(false))
                   
                    .ColumnMenu(col => col.Filterable(false))
                    )
    }
}

@section styles {
    <link rel="stylesheet" href="~/css/league-table.css" />
}


