@page
@model SoccerStats.Models.PizzaModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">custom</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout" >checkout</a>
