@model SoccerStatsNew.Models.PlayerData

@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Views/Shared/_PlayerGrid.cshtml"))
    {
        line = sr.ReadToEnd();
    }
}
<h6>this is the players tab</h6>

@(Html.Kendo().Grid(Model.Response)
                .Name("player-grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Player.Photo)
                           .Title("Player")
                           .Width(10);

                    columns.Bound(p => p.Player.Birth.Date)
                   .Title("Born")
                   .Width(5);

                    columns.Bound(p => p.Player.Age)
                   .Title("Age")
                   .Width(2);

                    columns.Bound(p => p.Player.Birth.Place)
                   .Title("Birth town")
                   .Width(5);

                    columns.Bound(p => p.Player.Nationality)
                   .Title("Nationality")
                   .Width(5);

                })
                .ClientRowTemplate(@line)
                .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .PageSize(20)
                            .ServerOperation(false))
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable())



