@model SoccerStatsData.TeamModel

@{
    var line = string.Empty;
    using (StreamReader sr = new StreamReader("Views/Shared/_PlayerGrid.cshtml"))
    {
        line = sr.ReadToEnd();
    }
}
<h6>this is the players tab</h6>

@(Html.Kendo().Grid<SoccerStatsData.RequestModels.PlayerRequestFile>()
                .Name("player-grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Player.Photo)
                           .Title("Photo")
                           .Width(5);

                    columns.Bound(p => p.Player.Name)
                    .Title("Name")
                    .Width(10);

                     columns.Bound(p => p.Player.Birth.Date)
                    .Title("Born")
                    .Width(10);

                    columns.Bound(p => p.Player.Age)
                   .Title("Age")
                   .Width(5);

                    columns.Bound(p => p.Player.Birth.Place)
                   .Title("Birth town")
                   .Width(5);

                    columns.Bound(p => p.Player.Nationality)
                   .Title("Nationality")
                   .Width(5);

                })
                .ClientRowTemplate(@line)
                .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Read(read => read.Action("Players_Read", "Player", new { id = Model.TeamId}))
                            )
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable())



