@model List<SoccerStatsData.TeamsPage>
@{
}

<h5>This is the teams tab</h5>
<div id="example">
    <div class="container">

        <div class="row">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="k-card">
                        <div class="k-card-header">
                            <h5 class="k-card-title">@item.Name</h5>
                            <h6 class="k-card-title">@item.Country</h6>
                        </div>
                        <img class="k-card-image" alt="Telerik UI for ASP.NET Core Cards Rome" src=@item.Logo />
                        <div class="k-card-body">
                            <p>Founded: @item.Founded</p>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/css/leagues.css" />
}


