@model IEnumerable<SoccerStatsNew.RequestModels.TeamResponse>

@{
    ViewData["Title"] = "Index";
}

<div class="container align-content-center">
    <h1>Teams</h1>
    <h4><i>Click on a picture to view the team details</i></h4>
    <div class="row select-box">
        @foreach (var item in Model)
        {
            <div class="col-2 mb-5 align-content-center">
                <form method="post" asp-controller="Team">
                    <input type="image" src="@item.Team.Logo" class="w-100"
                           asp-action="Details"
                           asp-route-id="@item.Team.Id"
                           asp-route-b="@item.Venue.Id">
                </form>
                <p>@item.Team.Name</p>
            </div>
        }
    </div>
</div>
