@model SoccerStatsNew.Models.TeamPageDisplay

@{
}

<h5>This is the teams page</h5>

@(Html.Kendo().DropDownList()
      .Name("territories")
      .Label(label => label.Content("Select a season"))
      .DataTextField("Year")
      .DataValueField("LeagueId")
      .BindTo(Model.SeasonModelList)
)


<div class="demo-section">

    <kendo-tabstrip name="tabstrip">

        <items>
            <tabstrip-item text="Teams">
                <content>
                    <partial name="_teams" model="@Model.TeamsModelList" />
                </content>
            </tabstrip-item>
            <tabstrip-item text="Stadiums">
                <content>
                    <partial name="_stadiums" model="@Model.VenueModelList" />
                </content>
            </tabstrip-item>
         
        </items>

    </kendo-tabstrip>
</div>

<style>

    #tabstrip h2 {
        font-weight: lighter;
        font-size: 5em;
        line-height: 1;
        padding: 0 0 0 30px;
        margin: 0;
    }

        #tabstrip h2 span {
            background: none;
            padding-left: 5px;
            font-size: .3em;
            vertical-align: top;
        }

    #tabstrip p {
        margin: 0;
        padding: 0;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .k-card {
        width: 285px;
        margin: 5%;
    }

    .k-card-footer {
        text-align: center;
    }
</style>
